* {
    margin: 0;
    padding: 0;
}
.cabecalho {
    background-color: forestgreen;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
